{
    "plugins": [
        "prettier-plugin-css-order",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSameLine": true,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "bracketSpacing": true,
    "cssDeclarationSorter": "concentric-css",
    "tailwindAttributes": ["class"]
}
